{% load static %}



<!-- <h1>this is a website</h1>

<hr>


<img src="{% static '/images/dp.jpeg' %}" >
<hr> -->

<!doctype html>
<html>
<head>
	<title>karthik</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet"
 type="text/css">
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

 </head>
 <body class="bodyy">
 	<hr>
 	<div class="container" style="background: none;">
	 	<div class="row" id="transp-bg">
	 		<div class="col-md-3" id="transp-bg">
	 			<a href="{% url 'A_bout' %}">
	 				<div class="card card-body h-100 border-info" id="transp-bg">
	 				<img id="profile-pic" class="hower" src="{% static '/images/karthik.jpeg' %}" >
	 				<hr>
	 				<h1>Hi! This is Karthik!</h1>
	 				<br>
	 				<p> I'm a newbie Programmer.. </p>
	 				<p>--> contact me <--</p> 
	 			</div>
	 			</a>
	 		</div>
	 		
	 		<div class="col-md-9" id="transp-bg" style="background:none;">
	 			<div class="card card-body h-100 border-info" id="transp-bg">
	 				<h2> My First Project!</h2>
	 				<hr>
	 				<p> I just begin my coding with python.I get a clear concepts of the programming language.
	 					then I wish to make a project using python.I'm learning django now and I implemented a small work as a portfolio.This is my first project work :) !!!
	 				</p>
	 				<hr>
					<br>		 				
                    <div id="transp-bg">
                    <center>
                    <ul style="margin-top: auto;">
                    <img class="hower" style="height:150px;width:180px;" src="{% static 'images/believe-in-yourself.gif' %}">
                    <img class="hower" style="height:150px;width:180px;" src="{% static 'images/images.png' %}">
	 				<img class="hower" style="height:150px;width:180px;" src="{% static 'images/hope.png' %}">
	 				<img class="hower" style="height:150px;width:180px;" src="{% static 'images/monophy.gif' %}">
	 				</ul>
	 			</center>
	 		</div>
	 			</div>
	 		</div>
		</div>
		<hr>
		<div class="row" id="transp-bg">
	 		<div class="col-md-6" id="transp-bg">
	 			<div class="card card-body h-100 border-info" id="transp-bg">
	 				<h2>What can I do?</h2>
	 				<hr>		
	 				<li> *  I can solve PROBLEMS using PYTHON.</li>
	 				<li> *  I can make a website using django.</li>
	 						
	 			</div>
	 		</div>
	 		
	 		<div class="col-md-6" id="transp-bg">
	 			<div class="card card-body h-100 border-info" id="transp-bg">
	 				<h2>What I know?</h2>
	 				<hr>
	 				<p>  PYTHON,
	 				     django-framework(basic),
	 				     Sql(Basic),
	 				     basic concepts of DS.

	 				</p>

	 			</div>
	 		</div>
		</div>
		<hr>
		<div class="row" id="transp-bg">
			<div class="col-md-12" id="transp-bg">
				<a href="https://www.hackerrank.com/keyan4676" target="_blank">
					<div class="card card-body h-100 border-info" id="transp-bg">
	 				<h2>My Works and certificates..  <img class="social hower" style="width: 50px;height: 50px;" src="{% static '/images/HackerRank_logo.png'%}"></h2>
	 				<hr>
	 				<p>Here are my practices in hackerrank and badges in them...you can visit my account by a click! </p>
	 				</div>
				</a>
			</div>
		</div>
		<hr>
		<div class="row" id="transp-bg">
	 		<div class="col-md-12" id="transp-bg">
	 			<a href="http://www.adhiyamaan.ac.in/anew/" target="_blank" rel="noopener noreferrer" >
	 				<div class="card card-body h-100 border-info" id="transp-bg">
	 				<h2>My Institution!</h2>
	 				<hr>
	 				<p>Adhiyaman college of engineering,Hosur</p>
	 				<p>cse department - 1st Year</p>

	 				   			
	 			</div>
	 			</a>
	 		</div>
	 		
		</div>
		<hr>
    </div>

</body>
</html>
